@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Space+Mono&display=swap');

*{
    background-color: rgba(229, 220, 209, 1);
    margin: 0px;
    padding: 0px;
}

.title{
    font-family: 'Cinzel', serif;
    font-size: 50px;
    color: rgb(49, 47, 47);
    padding-left: 0px;
    margin-left: 10px;
    margin-top: 20px;
}

#fm{
    width: 50%;
    margin: 100px auto;
    font-size: 16pt;
    color: #333333;
    font-family: 'Times New Roman', Times, serif;
    line-height: 26px;
    word-spacing: 2px
}

#fpic{
    margin-top: 50px;
    margin-left: 540px;
}

footer{
    font-family: 'Cinzel', serif;
    color:  rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    position:absolute;
	width:100%;
    bottom:0px;
    z-index: -1;
}

#ref{
    width: 50%;
    margin: 100px auto;
    font-size: 12pt;
    font-family: 'Cinzel', serif;
    text-align: center;
}
